.container {
  position: relative;
  background-color: black;
  display: flex;
  overflow: scroll;
}

.container ul {
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 16px 0px;
  padding-inline: 16px;
}

.container li {
  color: lightgrey;
  margin: 3px 0;
}

.syntax {
  padding: 8px;
}
.syntax .selector {
  color: var(--secondary);
}

.syntax .properties {
  margin-left: 23px;
  color: var(--primary-light);
}

.syntax input {
  height: 12px;
  margin-left: 23px;
}
