.container {
  padding: 10px;
  position: relative;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

.term {
  background-color: var(--primary-light);
  color: black;
  padding: 0 5px;
}

.container button {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
