.container {
  background-color: #ddd6cd;
}

.container span {
  padding-left: 5px;
  color: black;
}

.branch {
  background-color: brown;
  padding: 5px;
}

.sky {
  background-color: lightblue;
  padding: 5px;
}

.grass {
  background-color: green;
  height: 40px;
  padding: 5px;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
  bottom: 0;
}
