.wrapper {
  width: 100%;
  max-width: 2400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.wrapper div:first-child,
.container div {
  flex: 1;
}

.container div:first-child {
  margin: 12px 0;
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row-reverse;
    padding: 30px;
  }

  .container {
    flex: 1;
    margin-right: 12px;
  }

  .container div:first-child {
    margin: 0 0 12px 0;
  }
}
